<h1>Update User Profile</h1>

<form action="/users/<%= @user.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <h3>Name</h3>
  <p>First Name: <input type="text" name="user[first_name]" value="<%= @user.first_name %>"></p>
  <p>Last Name: <input type="text" name="luser[ast_name]" value="<%= @user.last_name %>"></p>

  <h3>Location</h3>
  <p>City: <input type="text" name="user[city]" value="<%= @user.city %>"></p>
  <p>State: <input type="text" name="user[state]" value="<%= @user.state %>"></p>

  <br>
  <p>Username: <input type="text" name="user[username]" value="<%= @user.username %>" readonly><small>(cannot be edited)</small></p>

  <p>Link to profile image: <input type="text" name="user[profile_image]"></p>

  <input type="submit" value="Update Profile">

</form>

<br>
<br>
<form action="/users/<%= @user.id %>/delete"< method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input style="color: red" id="delete" type="submit" value="Delete Profile">
</form>
