<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<img src="<%= @user.profile_image %>">
<p><small>Username: <%= "#{@user.username}" %></small><br><small>Location: <%= "#{@user.city}, #{@user.state}" %></small></p>
<small><a href="<%= @user.id %>/edit">Edit Profile</a></small>


<h3>My Photos:</h3>

<p><a href="/users/<%= @user.id %>/new-photo">Add Photo</a></p>

<% @pictures.each do |picture| %>
  <img src="<%= picture.image_link %>"> <br>
  <% picture.tags.each do |tag| %>
      <small><a href="/tags/<%= tag.id %>"> <%= tag.name %> </a></small><br>
     <% end %>
<% end %>
